#topo-pagina{
    background-color: rgb(0, 108, 72);
    color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
}

.link-menu{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.link-menu:hover{
    color: aquamarine;
}

.lista-noticia{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.card-noticia{
    border: 1px solid green;
    border-radius: 12px;
    padding: 20px;
    width: 280px;
    text-align: center;
    box-shadow: 0 4px 8px grey;
    transition: 0.3s;
}

.card-noticia:hover{
    transform: translateY(5px);
    box-shadow: 0 8px 16px grey;
}

.card-noticia img{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px 8px 0 0;
}

h2{
    color: rgb(44, 44, 44);
    font-size: x-large;
}

