#topo-pagina{
    background-color: rgb(0, 108, 72);
    color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
}

.link-menu{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.link-menu:hover{
    color: aquamarine;
}

.link-menu:focus{
    outline: 3px solid rgb(255, 252, 47);
    background-color: rgb(26, 173, 0);
}

.lista-noticia{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.card-noticia{
    display: inline-block;
    border: 1px solid green;
    border-radius: 12px;
    padding: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px grey;
    transition: 0.3s;
    margin-top: 10px;
}

.card-noticia:hover{
    transform: translateY(5px);
    box-shadow: 0 8px 16px grey;
}

.card-noticia img{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px 8px 0 0;
}

.botao-leia{
    background-color: green;
    color: aliceblue;
    border-radius: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.botao-leia:hover{
    color: aquamarine;
    background-color: rgb(31, 93, 0);
}

.botao-leia:focus{
    outline: 3px solid rgb(184, 235, 0);
    background-color: rgb(0, 186, 0);
}

h2{
    color: rgb(44, 44, 44);
    font-size: x-large;
}

.lupa-menu{
    background-color: rgb(83, 255, 86);
    transition: 0.3s;
}

.lupa-menu:hover{
     transform: translateY(5px);
}

.link-menu:focus{
    color: greenyellow;
    background-color: rgb(43, 226, 131);
}